.form{
    width : 600px;
    margin: 0px auto;
    padding: 100px 0px;
    text-align: center;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid orange;
}
.input{
    width: 80%;  
}
.button{
    width: 50%;
    background-color: rgb(34, 188, 235) !important;

}
h1{
    margin-bottom: 10px;
}